<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>services</key>
	<array>
		<dict>
			<key>class</key>
			<string>VTBehaviorService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTBehaviorTask</string>
				<string>IVTBehaviorTransactionTask</string>
			</array>
			<key>db</key>
			<array>
				<string>VTBESessionObject</string>
				<string>VTBEEventObject</string>
				<string>VTBECrashObject</string>
			</array>
		</dict>
		<dict>
			<key>class</key>
			<string>VTHttpService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTHttpAPITask</string>
			</array>
			<key>timeout</key>
			<integer>30</integer>
			<key>allowShowNetworkStatus</key>
			<true/>
			<key>maxThreadCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>class</key>
			<string>VTHttpService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTHttpResourceTask</string>
				<string>IVTCleanupTask</string>
			</array>
			<key>timeout</key>
			<integer>300</integer>
			<key>maxThreadCount</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>class</key>
			<string>VTHttpService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTHttpUploadTask</string>
			</array>
			<key>timeout</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>class</key>
			<string>VTHttpService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTHttpTask</string>
			</array>
			<key>timeout</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>class</key>
			<string>VTImageService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTImageTask</string>
				<string>IVTLocalImageTask</string>
			</array>
			<key>timeout</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>class</key>
			<string>VTAPIService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTAPICancelTask</string>
				<string>IVTAPIRequestTask</string>
			</array>
			<key>headers</key>
			<dict>
				<key>Referer</key>
				<string>http://licaishi.sina.com.cn</string>
			</dict>
			<key>timeout</key>
			<integer>20</integer>
			<key>login</key>
			<string>https://api.weibo.com/oauth2/access_token</string>
		</dict>
		<dict>
			<key>class</key>
			<string>VTURLService</string>
			<key>taskTypes</key>
			<array>
				<string>IVTURLDownlinkTask</string>
				<string>IVTCleanupTask</string>
				<string>IVTAPIResponseTask</string>
			</array>
			<key>headers</key>
			<dict>
				<key>Referer</key>
				<string></string>
			</dict>
			<key>carlist-interface</key>
			<string>http://elephantrv.cn-hangzhou.aliapp.com?json=1</string>
		</dict>
	</array>
	<key>ui</key>
	<dict>
		<key>root</key>
		<dict>
			<key>class</key>
			<string>VTHeapViewController</string>
			<key>scheme</key>
			<string>root</string>
			<key>navbar-hidden</key>
			<true/>
		</dict>
		<key>tab</key>
		<dict>
			<key>class</key>
			<string>HCTabViewController</string>
			<key>view</key>
			<string>HCTabViewController</string>
			<key>iOS7</key>
			<dict>
				<key>view</key>
				<string>HCTabBarController</string>
				<key>class</key>
				<string>VTCreatorViewController</string>
			</dict>
			<key>items</key>
			<array>
				<dict>
					<key>url</key>
					<string>view:///homePage</string>
					<key>title</key>
					<string>主页</string>
					<key>image</key>
					<string>tab_ico1.png</string>
				</dict>
				<dict>
					<key>url</key>
					<string>view:///campPage</string>
					<key>title</key>
					<string>营地</string>
					<key>image</key>
					<string>tab_ico2.png</string>
				</dict>
				<dict>
					<key>url</key>
					<string>view:///activityPage</string>
					<key>title</key>
					<string>活动</string>
					<key>image</key>
					<string>tab_ico3.png</string>
				</dict>
				<dict>
					<key>url</key>
					<string>view:///servicePage</string>
					<key>title</key>
					<string>服务</string>
					<key>image</key>
					<string>tab_ico4.png</string>
				</dict>
				<dict>
					<key>url</key>
					<string>view:///myPage</string>
					<key>title</key>
					<string>我的</string>
					<key>image</key>
					<string>tab_ico5.png</string>
				</dict>
			</array>
		</dict>
		<key>nav</key>
		<dict>
			<key>class</key>
			<string>VTNavigationController</string>
			<key>scheme</key>
			<string>nav</string>
			<key>navbar-hidden</key>
			<true/>
		</dict>
		<key>guide</key>
		<dict>
			<key>class</key>
			<string>HCGuideViewController</string>
			<key>view</key>
			<string>HCGuideViewController</string>
			<key>title</key>
			<string>新手引导</string>
		</dict>
		<key>homePage</key>
		<dict>
			<key>class</key>
			<string>HCHomePageViewController</string>
			<key>view</key>
			<string>HCHomePageViewController</string>
			<key>title</key>
			<string>主页</string>
		</dict>
		<key>campPage</key>
		<dict>
			<key>class</key>
			<string>HCCampHomePageViewController</string>
			<key>view</key>
			<string>HCCampHomePageViewController</string>
			<key>title</key>
			<string>营地</string>
		</dict>
		<key>activityPage</key>
		<dict>
			<key>class</key>
			<string>HCActivityPageViewController</string>
			<key>view</key>
			<string>HCActivityPageViewController</string>
			<key>title</key>
			<string>主页</string>
		</dict>
		<key>servicePage</key>
		<dict>
			<key>class</key>
			<string>HCServicePageViewController</string>
			<key>view</key>
			<string>HCServicePageViewController</string>
			<key>title</key>
			<string>服务</string>
		</dict>
		<key>myPage</key>
		<dict>
			<key>class</key>
			<string>HCMyPageViewController</string>
			<key>view</key>
			<string>HCMyPageViewController</string>
			<key>title</key>
			<string>我的</string>
		</dict>
		<key>cityList</key>
		<dict>
			<key>title</key>
			<string>城市列表</string>
			<key>view</key>
			<string>HCCityViewController</string>
			<key>class</key>
			<string>HCCityViewController</string>
			<key>iOS7</key>
			<dict>
				<key>class</key>
				<string>HCCityViewController</string>
				<key>view</key>
				<string>HCCityViewController</string>
			</dict>
		</dict>
		<key>carBookDetail</key>
		<dict>
			<key>title</key>
			<string>预定详情</string>
			<key>view</key>
			<string>HCCarBaseDetailViewController</string>
			<key>class</key>
			<string>HCCarBaseDetailViewController</string>
			<key>iOS7</key>
			<dict>
				<key>class</key>
				<string>HCCarBaseDetailViewController</string>
				<key>view</key>
				<string>HCCarBaseDetailViewController</string>
			</dict>
		</dict>
		<key>carOrder</key>
		<dict>
			<key>title</key>
			<string>房车预定</string>
			<key>view</key>
			<string>HCCarOrderViewcontroller</string>
			<key>class</key>
			<string>HCCarOrderViewcontroller</string>
			<key>iOS7</key>
			<dict>
				<key>class</key>
				<string>HCCarOrderViewcontroller</string>
				<key>view</key>
				<string>HCCarOrderViewcontroller</string>
			</dict>
		</dict>
		<key>calendarSelect</key>
		<dict>
			<key>title</key>
			<string>日期选择</string>
			<key>view</key>
			<string>HCCalendarViewController</string>
			<key>class</key>
			<string>HCCalendarViewController</string>
			<key>iOS7</key>
			<dict>
				<key>class</key>
				<string>HCCalendarViewController</string>
				<key>view</key>
				<string>HCCalendarViewController</string>
			</dict>
		</dict>
		<key>campPaly</key>
		<dict>
			<key>title</key>
			<string>营地游玩</string>
			<key>view</key>
			<string>HCCampPlayViewController</string>
			<key>class</key>
			<string>HCCampPlayViewController</string>
			<key>iOS7</key>
			<dict>
				<key>class</key>
				<string>HCCampPlayViewController</string>
				<key>view</key>
				<string>HCCampPlayViewController</string>
			</dict>
		</dict>
		<key>searchpage</key>
		<dict>
			<key>title</key>
			<string>搜索页面</string>
			<key>view</key>
			<string>HCSearchViewController</string>
			<key>class</key>
			<string>HCSearchViewController</string>
			<key>iOS7</key>
			<dict>
				<key>class</key>
				<string>HCSearchViewController</string>
				<key>view</key>
				<string>HCSearchViewController</string>
			</dict>
		</dict>
	</dict>
	<key>app-db</key>
	<array>
		<string>HCStockObject</string>
	</array>
	<key>user-db</key>
	<array>
		<string>HCMyStockObject</string>
	</array>
	<key>url</key>
	<string>root:///root/tab</string>
</dict>
</plist>
